* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin: 1rem 0;
  border: 1px solid #141414;
  padding: 1rem;
  width: 50%;
  border-radius: 10px;
}

.summary {
  cursor: pointer;
}

.h1 {
  line-height: 130%;
  font-size: 1.5rem;
}

@media screen and (max-width: 1140px) {
  .h1 {
    font-size: 1rem;
  }
}

.h2--title {
  color: #6452ff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1140px) {
  .h2 {
    font-size: 1.5rem;
  }
}

.single-line {
  display: inline-block;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.img--section {
  width: 100%;
  min-height: 40vh;
}

.img--margin {
  margin: 0 1rem;
}

.img--rounded {
  border-radius: 50%;
}

.img--border {
  border: 5px solid white;
}

@media screen and (max-width: 1140px) {
  .img--o-nas {
    height: 50vh;
    width: 100%;
  }
}

.p {
  color: #141414;
  font-size: 1.2rem;
  line-height: 130%;
}

.p--img {
  width: 100%;
  text-align: center;
  color: #e6e6e6;
  font-size: 2rem;
}

.p--primary {
  color: #c53939;
}

.p--secondary {
  color: #6452ff;
}

.p--white {
  color: white;
}

.p--left {
  text-align: left;
}

.p--copyright {
  font-size: 1rem;
}

.p--subtitle {
  font-size: 1.5rem;
}

.p--address {
  font-size: 1.5rem;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.btn {
  background: #6452ff;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #e6e6e6;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  border: 2px solid #6452ff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn::before {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #e6e6e6;
  pointer-events: none;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #c53939;
}

.btn:hover::before {
  top: -2px;
  left: -2px;
  border: 2px solid #e6e6e6;
}

@media screen and (max-width: 1140px) {
  .btn {
    font-size: 1rem;
    padding: 1.2rem;
  }
}

.btn--burger {
  display: none;
}

@media screen and (max-width: 1140px) {
  .btn--burger {
    width: 3rem;
    height: 3rem;
    border-radius: 0;
    background: #6452ff;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn--burger::before {
    display: none;
  }
  .btn--burger:hover {
    background: #6452ff;
  }
}

.btn--more {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 10px;
}

.btn--more::before {
  border-radius: 10px;
  top: 3%;
  left: 3%;
}

.btn--important {
  background: #c53939;
  border: 2px solid #c53939;
  padding: 0.6rem;
  border-radius: 10px;
}

.btn--important::before {
  border-radius: 10px;
  top: 3%;
  left: 3%;
}

.btn--important:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #6452ff;
}

.btn--submit {
  border: none;
  background: #6452ff;
  color: #e6e6e6;
  outline: none;
  padding: 10px;
  width: 60%;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid #6452ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--submit:hover {
  background: transparent;
  border: 1px solid #6452ff;
  color: #6452ff;
}

.btn--disabled {
  cursor: not-allowed;
  opacity: 1;
  pointer-events: none;
}

.btn--close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  color: #c53939;
  border: 1px solid #c53939;
}

.btn--close-modal::before {
  display: none;
}

.btn--close-modal:hover {
  background: #c53939;
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1140px) {
  .btn--close-modal {
    top: 1rem;
    right: 1rem;
  }
}

.line {
  width: 60%;
  height: 5%;
  background: white;
  margin: 0.2rem;
}

.section {
  min-height: 60vh;
  padding: 2rem 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) {
  .section--center {
    background-attachment: scroll;
  }
}

.section--background {
  background: url(https://parafiaslough.org/wp-content/uploads/2018/12/PA270886-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section--background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1140px) {
  .section--background {
    background-attachment: scroll;
  }
}

.section--no-background {
  background: transparent;
}

@media screen and (max-width: 1140px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12% 1rem;
  }
}

.hr {
  background: #c53939;
  border: 1px solid #c53939;
  outline: none;
  margin: 1rem 0;
  width: 100%;
}

.h3 {
  font-size: 2.2rem;
}

.h3--address {
  color: #c53939;
}

.h4 {
  font-size: 1.3rem;
}

.a {
  font-size: 1.1rem;
  color: #c53939;
  position: relative;
  display: inline-block;
}

.a--h1::after {
  content: '';
  border-bottom: 2px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.a--h1:hover::after {
  width: 0%;
}

.a--h1::after {
  display: none;
}

.a--social {
  color: #6452ff;
  font-size: 1.2rem;
}

.a--social::after {
  content: '';
  border-bottom: 2px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.a--social:hover::after {
  width: 0%;
}

.a--social::after {
  border-bottom: 2px solid #6452ff;
}

.a--default {
  color: #e6e6e6;
}

.a--default::after {
  pointer-events: none;
  top: 1.7rem;
  border-bottom: 2px solid #e6e6e6;
}

.a--link {
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  color: #c53939;
  position: relative;
  margin: 1px;
}

@media screen and (max-width: 1140px) {
  .a--link {
    width: 95%;
    text-align: center;
  }
}

.a--link:hover {
  color: #6452ff;
}

.a--link:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #6452ff;
  border-right: none;
}

.a--link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #6452ff;
  border-left: none;
}

.a--active {
  color: #141414;
}

.a--active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #141414;
  border-right: none;
}

.a--active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #141414;
  border-left: none;
}

a[href^="tel"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
}

.input {
  outline: none;
  border: 1px solid #6452ff;
  width: 60%;
  margin: 1rem;
  padding: 5px;
  color: #6452ff;
}

.input::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #6452ff;
  text-align: left;
}

.input:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #6452ff;
  text-align: left;
}

.input::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #6452ff;
  text-align: left;
}

.input::placeholder {
  font-size: 0.9rem;
  color: #6452ff;
  text-align: left;
}

.ul {
  text-align: left;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.slogan {
  width: 30%;
  text-align: left;
  color: #6452ff;
  position: relative;
}

@media screen and (max-width: 1140px) {
  .slogan {
    width: 100%;
  }
}

.navigation {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 12%;
  position: relative;
  z-index: 5;
  background: white;
}

@media screen and (max-width: 1140px) {
  .navigation {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: flex-center;
        -ms-flex-align: flex-center;
            align-items: flex-center;
    position: relative;
    z-index: 5;
  }
}

.nav--ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 1140px) {
  .nav--ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: white;
    top: 101%;
    width: 100%;
    padding: 1rem 0;
    opacity: 1;
    overflow: auto;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@media screen and (max-width: 1140px) {
  .nav--hidden {
    overflow: hidden;
    -webkit-transform: translateY(50%) rotate(90deg);
            transform: translateY(50%) rotate(90deg);
  }
}

.nav--li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  margin: 1px;
}

@media screen and (max-width: 1140px) {
  .nav--li {
    width: 70%;
  }
}

.nav--li__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) {
  .nav--li__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.header {
  padding: 0 12%;
  width: 100%;
  min-height: 70vh;
  background: #47d3a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) {
  .header {
    padding: 12% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.img__container--slogan {
  width: 10rem;
  margin: 0 1rem;
}

@media screen and (max-width: 1140px) {
  .img__container--slogan {
    width: 50vw;
  }
}

.img__container--header {
  width: 60%;
  height: 50vh;
  position: relative;
  z-index: 1;
}

.img__container--header::before {
  content: '';
  position: absolute;
  background: rgba(158, 151, 44, 0.5);
  z-index: -1;
  top: 5%;
  right: -5%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1140px) {
  .img__container--header {
    width: 80%;
    height: 30vh;
  }
}

.img__container--section {
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1140px) {
  .img__container--section {
    width: 100%;
    margin: 1rem;
  }
  .img__container--section:last-child {
    margin-bottom: 0;
  }
}

.img__container--overlay {
  width: 40%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.img__container--stretch {
  width: 100%;
}

.img__container--70 {
  width: 70%;
  margin-top: 2rem;
}

@media screen and (max-width: 1140px) {
  .img__container--70 {
    width: 100%;
  }
}

.header__content {
  width: 35%;
  z-index: 2;
}

.header__content h2 {
  font-size: 3rem;
  color: #e6e6e6;
  margin: 1rem 0;
}

@media screen and (max-width: 1140px) {
  .header__content {
    width: 70%;
    margin-top: 1rem;
  }
}

.btn__container {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.btn__container--small {
  margin: 0;
  width: auto;
}

.btn__container--submit {
  margin: 0;
}

.btn__container--no-margin {
  margin: 0;
}

.btn__container--margin-bottom-0 {
  margin-bottom: 0;
}

.banner {
  width: 32rem;
  min-height: 20rem;
  margin: 2rem;
  border-radius: 9rem;
  background: #e6e6e6;
  -webkit-box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) {
  .banner {
    width: 100%;
    margin: 1rem 0;
    border-radius: 6rem;
    padding: 1rem;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-around {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

@media screen and (max-width: 1140px) {
  .space-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.column-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  min-height: 20vh;
  padding: 2rem 12%;
  background: rgba(179, 179, 179, 0.1);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.container--center {
  margin: 0 1rem;
}

@media screen and (max-width: 1140px) {
  .container--center {
    margin: 3rem 0;
  }
}

.container--text {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  margin: 2rem 0;
}

@media screen and (max-width: 1140px) {
  .container--text {
    padding: 0;
  }
}

.container--address {
  position: relative;
  z-index: 3;
  min-height: 50vh;
}

.container--copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) {
  .container--copyright {
    min-height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container--space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media screen and (max-width: 1140px) {
  .container--space-evenly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container--description {
  margin: 2rem 0;
}

.container--map {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 3;
}

.container--narrow {
  max-width: 70%;
}

@media screen and (max-width: 1140px) {
  .container--narrow {
    min-width: 100%;
  }
}

.container--documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

@media screen and (max-width: 1140px) {
  .container--documents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.input__container {
  width: auto;
  height: auto;
}

.text--blue {
  color: #6452ff;
}

.burger__container {
  position: relative;
}

.map {
  width: 100%;
  height: 50vh;
  border: 0;
}

.margin {
  margin: 1rem;
}

.margin--left-right {
  margin: 0 1rem;
}

.margin--top-bottom {
  margin: 1rem 0;
}

.pdf {
  width: 60%;
  min-height: 80vh;
}

.pdf--small {
  width: auto;
  min-height: 50vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 2rem;
}

@media screen and (max-width: 1140px) {
  .pdf--small {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1140px) {
  .pdf {
    width: 100%;
    min-height: 80vh;
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.modal__container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  width: auto;
  height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1140px) {
  .modal {
    width: 95%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.in-modal {
  cursor: pointer;
}

.hidden {
  display: none;
}

.text--underline {
  text-decoration: underline;
}

.menu__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

@media screen and (max-width: 1140px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu {
  border: 1px solid #6452ff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 1140px) {
  .menu {
    min-width: 9rem;
  }
}

.menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  background: #6452ff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 100%;
}

.menu:hover p {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  color: white;
}

.menu:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-radius: 20px;
}

.menu p {
  font-size: 1rem;
  pointer-events: none;
}

.menu--active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background: #6452ff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 100%;
  border-radius: 20px;
}

.menu--active p {
  color: white;
}
/*# sourceMappingURL=style.css.map */