// Variables
$box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
$padding-horizontal: 12%;

$primary-color: rgb(253, 80, 80);
$secondary-color: rgb(100, 82, 255);
$primary-text-color: rgb(20, 20, 20);
$secondary-text-color: rgb(230, 230, 230);

$transition: 0.3s ease;

$medium-display: 1140px;

// Mixins
@mixin flex($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// Default styling
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

// Body styling
body {
	width: 100%;
	min-height: 100vh;
	background: rgb(255, 255, 255);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overflow-x: hidden;
}

// Default elements styling
a {
	font-size: 1rem;
	text-decoration: none;
}

.h1 {
	line-height: 130%;

	@media screen and (max-width: $medium-display) {
		font-size: 1.5rem;
	}
}

.h2 {
	@media screen and (max-width: $medium-display) {
		font-size: 1.5rem;
	}
}

.single-line {
	display: inline-block;
}

.img {
	object-fit: cover;
	width: 100%;
	height: 100%;

	&--section {
		width: 100%;
		height: 30vh;
	}

	&--margin {
		margin: 0 1rem;
	}

	&--overlay {
		width: 100%;
		height: 100%;
		background: white;
	}

	&--rounded {
		border-radius: 50%;
	}

	&--border {
		border: 5px solid white;
	}
}

.p {
	color: $primary-text-color;
	font-size: 1.2rem;
	line-height: 130%;

	&--img {
		width: 100%;
		text-align: center;
		color: $secondary-text-color;
		font-size: 2rem;
	}

	&--primary {
		color: $primary-color;
	}

	&--secondary {
		color: $secondary-color;
	}

	&--white {
		color: white;
	}

	&--left {
		text-align: left;
	}

	&--copyright {
		font-size: 1rem;
	}

	&--subtitle {
		font-size: 1.5rem;
	}

	&--address {
		font-size: 1.5rem;
	}
}

.btn {
	background: $secondary-color;
	padding: 1.5rem 2rem;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.1rem;
	color: $secondary-text-color;
	transition: $transition;
	position: relative;
	border: 2px solid $secondary-color;
	box-shadow: $box-shadow;

	&::before {
		transition: $transition;
		content: '';
		position: absolute;
		top: 5%;
		left: 5%;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		border: 2px solid $secondary-text-color;
		pointer-events: none;
	}

	&:hover {
		box-shadow: none;
		background: $primary-color;

		&::before {
			top: -2px;
			left: -2px;
			border: 2px solid $secondary-text-color;
		}
	}

	@media screen and (max-width: $medium-display) {
		font-size: 1rem;
		padding: 1.2rem;
	}

	&--burger {
		display: none;

		@media screen and (max-width: $medium-display) {
			width: 3rem;
			height: 3rem;
			border-radius: 0;
			background: $secondary-color;
			padding: 5px;
			@include flex(column);
	
			&::before {
				display: none;
			}
	
			&:hover {
				background: $secondary-color;
			}
		}
	}

	&--more {
		padding: 0.6rem;
		font-size: 1rem;
		border-radius: 10px;

		&::before {
			border-radius: 10px;
			top: 3%;
			left: 3%;
		}
	}

	&--important {
		background: $primary-color;
		border: 2px solid $primary-color;
		padding: 0.6rem;
		border-radius: 10px;

		&::before {
			border-radius: 10px;
			top: 3%;
			left: 3%;
		}

		&:hover {
			box-shadow: none;
			background: $secondary-color;
		}
	}

	&--submit {
		border: none;
		background: $secondary-color;
		color: $secondary-text-color;
		outline: none;
		padding: 10px;
		width: 60%;
		font-size: 0.9rem;
		cursor: pointer;
		border: 1px solid $secondary-color;
		transition: all $transition;

		&:hover {
			background: transparent;
			border: 1px solid $secondary-color;
			color: $secondary-color;
		}
	}
}

.line {
	width: 60%;
	height: 5%;
	background: white;
	margin: 0.2rem;
}

.section {
	min-height: 40vh;
	padding: 2rem $padding-horizontal;
	@include flex(row, space-between);
	position: relative;

	&--banner {
		@include flex();
		flex-wrap: wrap;
	}

	&--background {
		background: url(https://parafiaslough.org/wp-content/uploads/2018/12/PA270886-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}

		@media screen and (max-width: $medium-display) {
			background-attachment: scroll;
		}
	}

	@media screen and (max-width: $medium-display) {
		@include flex(column);
		padding: $padding-horizontal;
	}
}

.hr {
	background: $primary-color;
	border: 1px solid $primary-color;
	outline: none;
	margin: 1rem 0;
	width: 100%;
}

.h3 {
	font-size: 2.2rem;

	&--address {
		color: $primary-color;
	}
}

.a {
	font-size: 1.2rem;
	color: $primary-color;
	
	position: relative;
	display: inline-block;


	&--h1 {
		&::after {
		content: '';
		border-bottom: 2px solid red;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		transition: $transition;
		}

		&:hover::after {
			width: 0%;
		}

		&::after {
			display: none;
		}
	}

	&--social {
		color: $secondary-color;
		font-size: 1.2rem;

		&::after {
			content: '';
			border-bottom: 2px solid red;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			transition: $transition;
		}

		&:hover::after {
			width: 0%;
		}

		&::after {
			border-bottom: 2px solid $secondary-color;
		}
	}

	&--default {
		color: $secondary-text-color;

		&::after {
			pointer-events: none;
			top: 1.7rem;
			border-bottom: 2px solid $secondary-text-color;
		}
	}

	&--link {
		text-decoration: none;
		list-style: none;
		font-size: 1.1rem;
		padding: 1rem;
		cursor: pointer;
		font-weight: 500;
		color: $primary-color;
		position: relative;
		margin: 1px;

		@media screen and (max-width: $medium-display) {
			width: 95%;
			text-align: center;
		}

		&:hover {
			color: $secondary-color;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 10%;
				height: 100%;
				border: 1px solid $secondary-color;
				border-right: none;
			}
	
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 10%;
				height: 100%;
				border: 1px solid $secondary-color;
				border-left: none;
			}
		}

	}

	&--active {
		color: $primary-text-color;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 10%;
			height: 100%;
			border: 1px solid $primary-text-color;
			border-right: none;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 10%;
			height: 100%;
			border: 1px solid $primary-text-color;
			border-left: none;
		}
	}
}

a[href^="tel"] {
	color: inherit; /* Inherit text color of parent element. */
	text-decoration: none; /* Remove underline. */
  }

.input {
	outline: none;
	border: 1px solid $secondary-color;
	width: 60%;
	margin: 1rem;
	padding: 5px;
	color: $secondary-color;

	&::placeholder {
		font-size: 0.9rem;
		color: $secondary-color;
		text-align: left;
	}
}

// Slogan
.slogan {
	width: 30%;
	text-align: left;
	color: $secondary-color;
	position: relative;

	@media screen and (max-width: $medium-display) {
			width: 100%;
	}
}

// Navigation styling
.navigation {
	width: 100%;
	min-height: auto;
	@include flex();
	box-shadow: $box-shadow;
	padding: 1rem $padding-horizontal;
	position: relative;
	z-index: 2;

	@media screen and (max-width: $medium-display) {
		padding: 1rem;
		@include flex(row, center, flex-center);
		position: relative;
		z-index: 5;
	}
}

// Navigation
.nav {
	&--ul {
		flex-grow: 1;
		@include flex(row, flex-end);
		flex-wrap: wrap;
		transition: $transition;

		@media screen and (max-width: $medium-display) {
			@include flex(column);
			position: absolute;
			background: rgb(255, 255, 255);
			top: 101%;
			width: 100%;
			padding: 1rem 0;
			opacity: 1;
			overflow: auto;
			transform-origin: 0 0;
			transform:  translateY(0) rotate(0);
		}
	}

	&--hidden {
		@media screen and (max-width: $medium-display) {
			overflow: hidden;
			transform: translateY(50%) rotate(90deg);
		}
		
	}

	&--li {
		text-decoration: none;
		list-style: none;
		cursor: pointer;
		font-weight: 500;
		position: relative;
		margin: 1px;
		width: 70%;
	}
}

// Header
.header {
	padding: 0 $padding-horizontal;
	width: 100%;
	min-height: 70vh;
	background: rgb(71, 211, 164);
	@include flex(row, space-between, center);

	@media screen and (max-width: $medium-display) {
		padding: $padding-horizontal 0;
		@include flex(column);
	}
}

.img__container {

	&--slogan {
		@media screen and (max-width: $medium-display) {
			width: 7rem;
		}		
	}

	&--header {
		width: 60%;
		height: 50vh;
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			background: rgba(158, 151, 44, 0.5);
			z-index: -1;
			top: 5%;
			right: -5%;
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: $medium-display) {
			width: 80%;
			height: 30vh;
		}
	}

	&--section {
		width: auto;
		height: auto;
		position: relative;
		z-index: 1;
		
		@media screen and (max-width: $medium-display) {
			width: 100%;
			margin: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--overlay {
		width: 30%;
		height: auto;
		object-fit: cover;
	}

	&--stretch {
		width: 100%;
		background: red;
	}
}

.header__content {
	width: 35%;
	z-index: 2;

	h2 {
		font-size: 3rem;
		color: $secondary-text-color;
		margin: 1rem 0;
	}

	@media screen and (max-width: $medium-display) {
		width: 70%;
		margin-top: 1rem;
	}
}

// Btn container
.btn__container {
	width: 100%;
	text-align: center;
	margin: 2rem 0;

	&--small {
		margin: 0;
		width: auto;
	}

	&--submit {
		margin: 0;
	}

	&--no-margin {
		margin: 0;
	}

	&--margin-bottom-0 {
		margin-bottom: 0;
	}
}

// Banner
.banner {
	width: 32rem;
	min-height: 20rem;
	margin: 2rem;
	border-radius: 9rem;
	background: $secondary-text-color;
	box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.3);
	
	@include flex(column, space-around);

	
	@media screen and (max-width: $medium-display) {
		width: 100%;
		margin: 1rem 0;
		border-radius: 6rem;
		padding: 1rem;
	}
}

// Dark overlay
.overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	@include flex(column, space-around);
}

// Space around box
.space-around {
	width: 100%;
	height: auto;
	@include flex(row, space-around, flex-end);
	text-align: left;

	@media screen and (max-width: $medium-display) {
		@include flex(column);
	}
}

// Column center elements
.column-center {
	width: 100%;
	@include flex(column, space-around);
}

// Footer styling
.footer {
	width: 100%;
	min-height: 20vh;
	padding: 2rem $padding-horizontal;
}

.footer__wrapper {
	@include flex(row, space-between, flex-start);
	width: 100%;

	@media screen and (max-width: $medium-display) {
		@include flex(column);
	}
}

// Container styling
.container {
	flex-grow: 1;
	width: 100%;
	text-align: center;

	&--center {
		margin: 0 1rem;

		@media screen and (max-width: $medium-display) {
			margin: 3rem 0;
		}
	}

	&--address {
		position: relative;
		z-index: 3;
		min-height: 50vh;
	}

	&--copyright {
		@include flex(row, space-around);

		@media screen and (max-width: $medium-display) {
			min-height: 10vh;
			@include flex(column, space-between, flex-start);
		}
	}

	&--space-evenly {
		@include flex(row, space-evenly);
		flex-grow: 0;

		@media screen and (max-width: $medium-display) {
			@include flex(column);
		}
	}

	&--description {
		margin: 2rem 0;
	}

	&--map {
		position: relative;
		width: 100%;
		height: 50vh;
		z-index: 3;
	}
}

// Input container style
.input__container {
	width: auto;
	height: auto;
}

.text {
	&--blue {
		color: $secondary-color;
	}
}

// Burger btn container
.burger__container {
	position: relative;
}

.map {
	width: 100%;
	height: 50vh;
	border: 0;
}

// Margin
.margin {
	margin: 1rem;

	&--left-right {
		margin: 0 1rem;
	}

	&--top-bottom {
		margin: 1rem 0;
	}
}