* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

.h1 {
  line-height: 130%;
}

.single-line {
  display: inline-block;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.img--section {
  width: 100%;
  height: 30vh;
}

.img--margin {
  margin: 0 1rem;
}

.img--overlay {
  width: 100%;
  height: 100%;
  background: white;
}

.p {
  color: #141414;
  font-size: 1.2rem;
  line-height: 130%;
}

.p--img {
  width: 100%;
  text-align: center;
  color: #e6e6e6;
  font-size: 2rem;
}

.p--primary {
  color: #fd5050;
}

.p--secondary {
  color: #6452ff;
}

.p--white {
  color: white;
}

.p--left {
  text-align: left;
}

.btn {
  background: #6452ff;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #e6e6e6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  border: 2px solid #6452ff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #e6e6e6;
  pointer-events: none;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fd5050;
}

.btn:hover::before {
  top: -2px;
  left: -2px;
  border: 2px solid #e6e6e6;
}

.btn--more {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 10px;
}

.btn--more::before {
  border-radius: 10px;
  top: 3%;
  left: 3%;
}

.btn--important {
  background: #fd5050;
  border: 2px solid #fd5050;
  padding: 0.6rem;
  border-radius: 10px;
}

.btn--important::before {
  border-radius: 10px;
  top: 3%;
  left: 3%;
}

.btn--important:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #6452ff;
}

.section {
  min-height: 40vh;
  padding: 2rem 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section--background {
  background: url(https://parafiaslough.org/wp-content/uploads/2018/12/PA270886-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section--background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hr {
  background: #fd5050;
  border: 1px solid #fd5050;
  outline: none;
  margin: 1rem 0;
  width: 100%;
}

.h3 {
  font-size: 2.2rem;
}

.h3--address {
  color: #fd5050;
}

.navigation {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 12%;
  position: relative;
  z-index: 2;
}

.slogan {
  width: 30%;
  text-align: left;
  color: #6452ff;
  position: relative;
}

.nav--ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav--li {
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: #fd5050;
  position: relative;
}

.nav--li:hover {
  color: #6452ff;
}

.nav--li:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #6452ff;
  border-right: none;
}

.nav--li:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  border: 1px solid #6452ff;
  border-left: none;
}

.header {
  padding: 0 12%;
  width: 100%;
  min-height: 70vh;
  background: #47d3a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img__container--header {
  width: 60%;
  height: 50vh;
  position: relative;
  z-index: 1;
}

.img__container--header::before {
  content: '';
  position: absolute;
  background: rgba(158, 151, 44, 0.5);
  z-index: -1;
  top: 5%;
  right: -5%;
  width: 100%;
  height: 100%;
}

.img__container--section {
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}

.img__container--overlay {
  width: 30%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content {
  width: 35%;
  z-index: 2;
}

.header__content h2 {
  font-size: 3rem;
  color: #e6e6e6;
  margin: 1rem 0;
}

.btn__container {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.btn__container--small {
  margin: 0;
  width: auto;
}

.banner {
  width: 32rem;
  min-height: 17rem;
  margin: 2rem;
  border-radius: 17rem;
  background: #e6e6e6;
  -webkit-box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.3);
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-around {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

.column-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  min-height: 20vh;
  padding: 2rem 12%;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
}

.container--center {
  margin: 0 1rem;
}

.container--address {
  position: relative;
  z-index: 3;
  min-height: 50vh;
}
/*# sourceMappingURL=style.css.map */